* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, purple, blue);
  font-family: "Courier New", Courier, monospace;
  overflow-y: hidden;
}
.info {
  width: 100px;
  border: 1px solid #ed1a23;
  background-color: pink;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border-radius: 6px;
}
.header_ul {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-radius: 2px 0 0 0;
  background-image: url("./imagens/fundopokemon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid black;

}
.header_ul h1 {
  font-size: 24px;
  background-color: yellow;
}
.navegacao img{
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
}
.Titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}
.navegacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.navegacao button {
  margin-top: 16px;
  border: 1px solid black;
  background-color: #fdb5b9;
}
.navegacao button:hover {
  background-color: #c7696e;
}
.info:hover {
  background-color: #c7696e;
}
#modal {
  position: fixed;
  bottom: 7%; 
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 80vh;
  width: 410px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-left: -2px;
}
#modal::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
#modal::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
.informacoesPoke h1 {
  background-color: yellow;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 24px;
}
.nomePoke {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.informacoesPoke p {
  margin-bottom: 24px;
}

#button_info {
  position: absolute;
  top: -15px;
  right: 5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buttonfechar {
  width: 100px;
  border: 1px solid #ed1a23;
  background-color: #f8212b54;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.buttonfechar:hover {
  background-color: #c7696e;
}
.pokemons {
  margin: 0 auto;
  max-height: 630px;
  overflow-y: auto;
  width: 450px;
  border-top: 40px solid #ed1a23;
  border-bottom: 40px solid #ed1a23;
  border-left: 20px solid #ed1a23;
  border-right: 20px solid #ed1a23;
  border-radius: 10px;
}
.pokemons::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
.pokemons::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
  border-radius: 2px 0 0 0;
}
.pokemons .imgPoke {
  width: 96px;
  height: 96px;
}

.homeButton {
  position: absolute;
  bottom: 18px;
  left: 49%;
  z-index: 999;
  width: 38px;
}
.logo {
  position: absolute;
  top: 8%;
  left: 48.5%;
  width: 70px;
}
.pokebola1 {
  position: absolute;
  top: 7%;
  left: 34%;
  z-index: 2;
  width: 60px;
}
.pokebola2 {
  position: absolute;
  bottom: 3%;
  right: 32%;
  z-index: 999;
  width: 100px;
}
.LogineCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-image: linear-gradient(to right, purple, blue);
}
.outrasPaginas {
  display: flex;
  justify-content: center;
  margin: 35px;
  font-size: 35px;
  border-bottom: 1px solid black;
}
form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 20px 60px 40px 60px;
  background-color: #1e448554;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}
#botaocadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  margin-top: 6px;
  font-size: 20px;
  background-color: #4d8efed7;
  font-family: "Courier New", Courier, monospace;
}
.botaologin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  margin-top: 6px;
  font-size: 20px;
  background-color: #4d8efed7;
  font-family: "Courier New", Courier, monospace;
}
.seCadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 16px;
}
.fazerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.733);
  margin-top: 16px;
}
.botaoVoltar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  font-size: 20px;
  background-color: #4d8efed7;
  pointer-events: none;
  font-family: "Courier New", Courier, monospace;
}
.redirecionar {
  text-decoration: underline;
  color: rgb(11, 241, 11);
  font-weight: 500;
  margin-left: 6px;
}
a {
  text-decoration: none;
}
.BotoesHome {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 40px;
}
.botaoCadastroHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 5px 0 0;
  cursor: pointer;
}
#imgCadastrar{
  height: 48px;
  width: 48px;
}
.botaoLoginHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px 5px 0 0;
  cursor: pointer;
}
#imgLogin{
  height: 48px;
  width: 36px;
}
.botaoLoginHome:hover {
  background-color: rgba(149, 226, 175, 0.411);
}
.botaoCadastroHome:hover {
  background-color: rgba(15, 232, 141, 0.304);
}
input {
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 2px solid cornflowerblue;
}
input::-webkit-input-placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 300px;
  gap: 16px;
}
.toast {
  transform: translateX(-50%);
  padding: 12px 6px 12px 6px;
  border-radius: 10px;
  position: absolute;
  width: max-content;
  top: -100px;
  left: 50%;
  animation: abrirToast 3s ease 0.5s;
}
.toast p {
  font-weight: bold;
  color: white;
}
.erro {
  background-color: red;
}
.sucesso {
  background-color: green;
}
@keyframes abrirToast {
  0% {
    top: 0px;
    opacity: 0.3;
  }
  25% {
    top: 25px;
  }
  50% {
    top: 25px;
  }
  75% {
    top: 25px;
  }
  100% {
    top: -100px;
    opacity: 1;
  }
}
.toast_autenticado {
  border-radius: 10px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  max-width: 75%;
  font-size: 24px;
  margin-top: 10%;
  margin-left: 10%;
}
.danger {
  width: 60px;
  position: absolute;
}
#danger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast_autenticado p {
  font-size: 32px;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 5px 50px 5px #bec7e2;
  background-color: red;
}
.botaoFavorito {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12px;
}
.Estrela {
 background-color: inherit !important;
  border: none;
  cursor: pointer;
  
}
.botaoFavorito .estrelaImg {
  height: 24px;
  width: 24px;
}
li {
  position: relative;
}
.lista {
  position: fixed;
  right: 10px;
  bottom: 50%;
}
.botaoFavoritoLista {
  color: white;
  background-color: #1000ee;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  padding: 0 10px 1px 10px;
  margin: 8px;
  cursor: pointer;
  border-radius: 150px;
}
#FavoritoImg{
  height: 48px;
  width: 48px;
}
.listaFavoritos:hover {
  background-color: rgba(15, 232, 141, 0.304);
}
.ListaPokemonsFavoritados {
  position: fixed;
  top: 5%;
  right: 30%;
  max-width: 50%;
  z-index: 3;
  border: 3px solid black;
  background-color: white;
  overflow-y: scroll;
  max-height: 50%;
  border-radius: 10px;
}
.PokemonsFavoritados {
  background-color: #ed1a23;
  color: white;
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
.PokemonsFavoritados .imgPoke{
  height: 100px;
  width: 100px;
}
.TituloFavorito {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background-color: yellow;
  border-bottom: 1px solid black;
}
.ListaPokemonsFavoritados::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
.ListaPokemonsFavoritados::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
.botaoFavoritoLista:hover {
  background-color: rgba(15, 232, 141, 0.304);
}
.removerFavorito {
  position: absolute;
  right: 12px;
  top: 12px;
}
.fecharFavoritos {
  position: fixed;
  z-index: 9999;
  right: 6px;
  top: 1px;
  border: none;
}
.fecharFavoritosDiv {
  background-color: rgb(29, 211, 99);
}
.imgRemove{
  border: none;
  cursor: pointer;
}
.removerFavoritoBtn:hover{
  background-color: #944242;
}