* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, purple, blue);
  font-family: "Courier New", Courier, monospace;
  overflow-y: hidden;
}
.info {
  width: 100px;
  border: 1px solid #ed1a23;
  background-color: pink;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border-radius: 6px;
}
.header_ul {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-radius: 2px 0 0 0;
  background-image: url("./imagens/fundopokemon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid black;
}
.header_ul h1 {
  font-size: 24px;
  background-color: yellow;
}
.navegacao img {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}
.navegacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.navegacao button {
  margin-top: 16px;
  border: 1px solid black;
  background-color: #fdb5b9;
}
.navegacao button:hover {
  background-color: #c7696e;
}
.info:hover {
  background-color: #c7696e;
}
#modal {
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 80vh;
  width: 420px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-left: -2px;
  z-index: 3;
}
#modal::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
#modal::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
.informacoesPoke h1 {
  background-color: yellow;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 24px;
}
.nomePoke {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.informacoesPoke p {
  margin-bottom: 24px;
}

#button_info {
  position: absolute;
  top: -15px;
  right: 5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buttonfechar {
  width: 100px;
  border: 1px solid #ed1a23;
  background-color: #f8212b54;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.buttonfechar:hover {
  background-color: #c7696e;
}
.pokemons {
  margin: 0 auto;
  height: 630px;
  overflow-y: auto;
  width: 450px;
  border-top: 40px solid #ed1a23;
  border-bottom: 40px solid #ed1a23;
  border-left: 20px solid #ed1a23;
  border-right: 20px solid #ed1a23;
  border-radius: 10px;
  background-color: red;
}
.pokemons::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
.pokemons::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
  border-radius: 2px 0 0 0;
}
.pokemons .imgPoke {
  width: 96px;
  height: 96px;
}

.homeButton {
  position: absolute;
  bottom: 6%;
  left: 49%;
  z-index: 999;
  width: 38px;
}
.logo {
  position: absolute;
  top: 9%;
  left: 48.5%;
  width: 70px;
}
.pokebola1 {
  position: absolute;
  top: 7%;
  left: 34%;
  z-index: 2;
  width: 60px;
}
.pokebola2 {
  position: absolute;
  bottom: 3%;
  right: 32%;
  z-index: 999;
  width: 100px;
}
.LogineCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-image: linear-gradient(to right, purple, blue);
}
.outrasPaginas {
  display: flex;
  justify-content: center;
  margin: 35px;
  font-size: 35px;
  border-bottom: 1px solid black;
}
form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 20px 60px 40px 60px;
  background-color: #1e448554;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  width: 500px;
}
#botaocadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  margin-top: 6px;
  font-size: 20px;
  background-color: #4d8efed7;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
#botaocadastro:hover {
  background-color: rgba(15, 232, 141, 0.304);
}
.botaologin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  margin-top: 6px;
  font-size: 20px;
  background-color: #4d8efed7;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
.botaologin:hover {
  background-color: rgba(15, 232, 141, 0.304);
}
.fazerLogin,
.fazerCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.733);
  margin-top: 16px;
}
.botaoVoltar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 150px;
  font-size: 20px;
  background-color: #4d8efed7;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
.botaoVoltar:hover {
  background-color: rgba(15, 232, 141, 0.304);
}

.redirecionar {
  text-decoration: underline;
  color: rgb(11, 241, 11);
  font-weight: 500;
  margin-left: 6px;
}
.redirecionar:hover {
  color: white;
}
a {
  text-decoration: none;
}

.BotoesHome {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 40px;
}
.botaoCadastroHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 5px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
#imgCadastrar {
  height: 48px;
  width: 48px;
}
#sair {
  height: 48px;
  width: 48px;
}
.botaoLoginHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px 5px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.botaoFavoritoHome {
  color: white;
}
#imgLogin {
  height: 48px;
  width: 36px;
}
.botaoLoginHome:hover {
  background-color: rgba(149, 226, 175, 0.411);
  transform: scale(1.1);
}
.botaoCadastroHome:hover {
  background-color: rgba(15, 232, 141, 0.304);
  transform: scale(1.1);
}
.LogineCadastro input {
  padding: 14px 18px;
  border-radius: 10px;
  border: 2px solid #2a75bb;
  background: #f7f7f7;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 12px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(42, 117, 187, 0.08);
  outline: none;
}

.LogineCadastro input:focus {
  border-color: #ffcb05;
  box-shadow: 0 0 8px #ffcb05;
}

.LogineCadastro input::placeholder {
  color: black;
  opacity: 0.7;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 300px;
  gap: 16px;
}
.toast {
  transform: translateX(-50%);
  padding: 12px 6px 12px 6px;
  border-radius: 10px;
  position: absolute;
  width: max-content;
  top: -100px;
  left: 50%;
  animation: abrirToast 3s ease 0.5s;
}
.toast p {
  font-weight: bold;
  color: white;
}
.erro {
  background-color: red;
}
.sucesso {
  background-color: green;
}
@keyframes abrirToast {
  0% {
    top: 0px;
    opacity: 0.3;
  }
  25% {
    top: 25px;
  }
  50% {
    top: 25px;
  }
  75% {
    top: 25px;
  }
  100% {
    top: -100px;
    opacity: 1;
  }
}
.toast_autenticado {
  border-radius: 10px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  max-width: 75%;
  font-size: 24px;
  margin-top: 10%;
  margin-left: 10%;
}
.danger {
  width: 60px;
  position: absolute;
}
#danger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast_autenticado p {
  font-size: 32px;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 5px 50px 5px #bec7e2;
  background-color: red;
}
.botaoFavorito {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12px;
}
.Estrela {
  background-color: inherit !important;
  border: none;
  cursor: pointer;
}
.botaoFavorito .estrelaImg {
  height: 24px;
  width: 24px;
}
li {
  position: relative;
}
.lista {
  position: fixed;
  right: 10px;
  bottom: 50%;
}
#botaoFavoritoLista {
  color: white;
  background-color: #1976d2;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  padding: 0 10px 1px 10px;
  margin: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
#botaoFavoritoLista:hover {
  background-color: #125ea7;
}
#FavoritoImg {
  height: 48px;
  width: 48px;
}
.modalFavoritos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(15px);
}
.ListaPokemonsFavoritados {
  max-width: 100%;
  z-index: 3;
  border: 3px solid black;
  background-color: white;
  overflow-y: scroll;
  max-height: 50%;
  border-radius: 10px 0 0 10px;
}
.ListaPokemonsFavoritados::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
.ListaPokemonsFavoritados::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
.PokemonsFavoritados {
  background-color: #ed1a23;
  color: white;
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
.PokemonsFavoritados .imgPoke {
  height: 100px;
  width: 100px;
}
.ListaPokemonsFavoritados::-webkit-scrollbar {
  width: 10px;
  background-color: #bebebe;
}
.ListaPokemonsFavoritados::-webkit-scrollbar-thumb {
  background: #ed1a23;
  border-radius: 10px;
}
.removerFavorito {
  position: absolute;
  right: 12px;
  top: 12px;
}

.fecharFavoritosDiv {
  background-color: rgb(29, 211, 99);
}
.imgRemove {
  border: none;
  cursor: pointer;
}
.removerFavoritoBtn:hover {
  background-color: #944242;
}
.inputPesquisa {
  margin-right: 100px;
  margin-top: 10px;
  max-width: 250px;
  padding: 10px;
}
.inputPesquisa {
  position: fixed;
  top: 15%;
  z-index: 2;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  font-family: inherit;
}
.inputPesquisa:focus {
  background-color: rgba(245, 245, 245, 0.815);
}
.msgNaoEncontrado {
  background-color: red;
  color: white;
  display: block;
  justify-content: center;
  font-size: 32px;
  text-align: center;
  padding: 0 0 414px 0;
}
.containerPerfil {
  max-width: 1000px;
  margin: 175px auto;
  background: #fff;
  padding: 40px 20px 100px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  background-color: #7c6b6b;
}

.topoPerfil {
  text-align: center;
  margin-bottom: 40px;
}

.topoPerfil h1 {
  position: absolute;
  top: 14%;
  left: 17.025%;
  width: 1000px;
  font-size: 36px;
  margin-top: 1px;
  font-family: "Arial", sans-serif;
  background-color: #997e7e;
  padding: 10px;
  border-radius: 12px;
}

.topoPerfil p {
  font-size: 18px;
  margin-bottom: 16px;
  color: #222;
}

.conteudoPerfil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.Sobre,
.detalhesPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border-radius: 5%;
}

.Sobre h2,
.detalhesPerfil h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: "Arial", sans-serif;
}

.Sobre p {
  font-size: 18px;
  color: #222;
  margin-bottom: 16px;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #eee;
  background: #f5f5f5;
}

.detalhesPerfil {
  font-size: 16px;
  background-color: #8b6a6a;
  border-radius: 10%;
  padding: 20px;
}

.detalhesPerfil p {
  margin-bottom: 10px;
}

.detalhesPerfil strong {
  display: block;
  min-width: 278px;
  font-weight: bold;
  font-size: 18px;
}
.voltarDoPerfilDiv {
  position: absolute;
  top: 25%;
  transition: all 0.3s ease;
}
.voltarDoPerfilDiv:hover {
  transform: scale(1.1);
}
.imgPerfil {
  width: 48px;
  height: 48px;
}
.botaoPerfil {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 48px;
  width: 48px;
}
.botaoPerfil:hover {
  transform: scale(1.1);
  background-color: rgba(149, 226, 175, 0.411);
}
.DeletConta {
  position: absolute;
  top: 26%;
  right: 18%;
  transition: all 0.3s ease;
}
#deletarConta {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 6px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}
#confirmacaoModal {
  position: absolute;
  top: 39%;
  left: 31%;
  background-color: red;
  color: white;
  padding: 40px;
  border-radius: 10px;
}
.botoesDeletar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  gap: 20px;
}
#buttonConfirmarSim {
  background-color: green;
  padding: 6px;
  border: 1px solid black;
  border-radius: 6px;
}
#buttonConfirmarSim:hover {
  background-color: #4caf50;
  cursor: pointer;
}
#buttonConfirmarNao {
  background-color: rgb(128, 0, 0);
  padding: 6px;
  border: 1px solid black;
  border-radius: 6px;
}
#buttonConfirmarNao:hover {
  background-color: #f44336;
  cursor: pointer;
}
.modalDeletarFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(15px);
}
.modalFavoritosFundo {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 600px;
  max-height: 100vh;
  overflow-y: auto;
  box-shadow: 0 2px 16px #0003;
}
span {
  font-size: 24px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.contador {
  background-color: none;
  color: white;
  position: absolute;
  top: 1%;
  right: 9%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.mudarFotoBtn{
  margin-top: 12px;
  background: #1976d2;
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
  display: inline-block;
  text-align: center;
}

.mudarFotoBtn:hover {
  background: #125ea7;
}
