* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-image: url(/imageBackground.png);
    background-size: 130%;
    
}

h1{
    display: flex;
    justify-content: center;
    margin: 35px;
    font-size: 35px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0 0 40px; 
    background-color: #1e448554;
    border-radius: 10px;
    padding: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#botaocadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 32px;
        width: 150px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 20px;
        background-color: #4d8efed7;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        
}
.botaologin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 32px;
    width: 150px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #4d8efed7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input{
    padding: 16px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
fieldset{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;  
    width: 300px;
    height: 40px;
    gap: 16px;
}
.toast{
    transform: translateX(-50%);
    padding: 12px 6px 12px 6px;
    border-radius: 10px;
    position: absolute;
    width: max-content;
    top: -100px;
    left: 50%;
    animation: abrirToast 3s ease 0.5s;
}
.toast p{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.erro{
    background-color: red;
}
.sucesso{
    background-color: green;
}
@keyframes abrirToast {
    0%{
        top: 0px;
        opacity: 0.3;
    }
    25%{
        top: 25px
    }
    50%{
        top: 25px
    }
    75%{
        top: 25px
    }
    100%{
        top: -100px;
        opacity: 1;

    }
}
 
